.job-listing {
    &.emp-dashboard {
        .container {
            &:first-child {
                padding-left: 16px;
                padding-right: 16px;
            }
        }

        .emp-sidebar {
            padding: 0;

            @include breakpoint-up(large) {
                &:not(.emp-profile) {
                    width: 26%;
                }
            }

            .list-sec {
                padding: 25px;
                background: $white;
                border: 1px solid #E2E2E9;
                box-sizing: border-box;
                box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
                border-radius: 8px;

                .col {
                    p {
                        font-size: 14px;
                        line-height: 16px;
                        color: vsPrimaryOpacity(0.75);
                    }

                }

                .note-check {
                    .greyed {
                        font-size: 14px;
                        line-height: 16px;
                    }

                    .credit-count {
                        font-size: 18px;
                        line-height: 21px;
                        padding: 6px 22px;
                    }
                }

                .submit {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }

        .emp-listing {
            @include breakpoint-up(large) {
                // width: 70%;
            }

            .intro {
                @include breakpoint-down(small) {
                    margin-top: 30px;
                    justify-content: center !important;
                    margin-left: 0;
                }

                .title {
                    margin-top: 0;
                    margin-bottom: 16px;
                    text-transform: uppercase;
                }
            }

            .job-list {
                @include breakpoint-down(small) {
                    padding: 0;
                }
            }

            .job-item {
                border: 1px solid #E2E2E9;
                @include breakpoint-down(small){
                    padding-top: 32px;
                }

                &.job-open {
                    .job-status {
                        background: $success;
                        border-color: $success;
                    }

                    .views {
                        .num {
                            color: $success;
                        }
                    }
                }

                &.job-filled {
                    .job-status {
                        background: $yellow;
                        border-color: $yellow;
                    }

                    .views {
                        .num {
                            color: $yellow;
                        }
                    }
                }

                .copy {
                    .title {
                        max-width: unset;
                        margin-top: 0;
                    }
                }

                .img {
                    .title {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        margin-bottom: 10px;
                    }
                }

                .job-status {
                    position: absolute;
                    right: 0;
                    top: 0;
                    border: 1px solid;
                    box-sizing: border-box;
                    border-radius: 0px 8px;
                    color: $white;
                    font-size: 12px;
                    line-height: 14px;
                    padding: 5px 11px;
                }

                .publish-status,
                .due-date {
                    font-size: 16px;
                    line-height: 18px;
                    display: inline-block;

                    @include breakpoint-down(small) {
                        display: block;
                    }
                }

                .publish-status {
                    color: vsPrimaryOpacity(0.5);

                    @include breakpoint-down(small) {
                        margin-bottom: 10px;
                        font-size: 14px;
                        line-height: 16px;
                    }
                }

                .due-date {
                    margin-left: 15px;
                    color: vsDangerOpacity(0.5);

                    @include breakpoint-down(small) {
                        margin-bottom: 10px;
                        margin-left: 0;
                        font-size: 14px;
                        line-height: 16px;
                    }
                }

                .cta-box {
                    @include breakpoint-down(small) {
                        justify-content: space-between !important;
                    }

                    .tags {
                        @include breakpoint-down(small) {
                            flex-direction: column !important;
                            justify-content: space-between !important;
                        }
                    }

                    .views {
                        font-size: 14px;
                        line-height: 16px;
                        color: vsPrimaryOpacity(0.65);

                        @include breakpoint-down(small) {
                            margin-bottom: 10px;
                        }

                        i {
                            display: none;

                            @include breakpoint-down(small) {
                                display: inline-block;
                            }
                        }
                    }
                }

                .location {
                    display: block;

                    @include breakpoint-down(small) {
                        margin-top: 0;
                    }
                }

                .action-box {
                    margin-left: 20px;
                    .action {
                        position: relative;
                        border-color: #E2E2E9;
                        color: $primary;
                        background: #F8F9FA;
                        padding: 11px;

                        &:first-child {
                            right: 10px;
                        }

                        .cstm-tooltip {
                            width: 10vw;
                            left: -3.5vw;
                            background: #000;
                            top: unset;
                            bottom: 130%;
                            opacity: 0;
                            z-index: -2;

                            &:before {
                                top: 100%;
                                transform: rotate(180deg);
                                margin-top: -2px;
                            }

                        }

                        &:hover {
                            .cstm-tooltip {
                                opacity: 1;
                                z-index: 1;
                            }
                        }
                    }
                }

                &.greyed {
                    .job-status {
                        background-color: vsPrimaryOpacity(0.35);
                        color: vsPrimaryOpacity(0.35);
                        border-color: vsPrimaryOpacity(0.35);
                    }
                }
            }
        }
    }
}

.emp-account {
    &.jobs {
        margin-top: 35px;

        .main-content {
            margin-right: 0;
        }
    }

    .no-padding {
        >* {
            @include breakpoint-down(medium) {
                padding: 0;
            }
        }
    }

    .note {
        font-size: 14px;
        line-height: 16px;
    }

    .copy-pwd {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: $hyperlink;

        .not-mob {
            @include breakpoint-down(medium) {
                display: none;
            }
        }
    }

    .visa {
        display: block;
        padding-left: 0 !important;
        color: vsPrimaryOpacity(0.75) !important;

        span:not(.checkmark) {
            @include breakpoint-down(medium) {

                display: inline-block;
                width: 80%;
            }
        }

        .checkmark {
            left: unset !important;
            right: 0;
        }
    }

    .form-group {
        position: relative;
        margin-bottom: 15px;

        .left,
        .right {
            position: absolute;
            color: vsPrimaryOpacity(0.5);
            top: 20px;
        }

        .right {
            right: 16px;
            cursor: pointer;
        }
    }

    .note-check {
        .greyed {
            text-align: center;
            display: block !important;
            border-color: transparent !important;

            &:hover {
                border-color: $primary !important;
            }
        }
    }

    @include breakpoint-up(medium) {
        .row> :first-child {
            padding-left: 0;
        }

        .row> :last-child {
            padding-right: 0;
        }
    }

    .submit {
        &.note-check {
            border: none;
            box-shadow: none;
            background: transparent;
        }

        .greyed {
            width: 35%;
            transition: all 250ms ease-in-out;
        }

        .submit {
            width: 55%;
        }
    }
}

.employers {
    &.job-listing {
        .filter-bar {
            @include breakpoint-down(medium) {
                flex-direction: column-reverse;
            }

            .submit {
                @include breakpoint-down(medium) {
                    font-size: 14px;
                    line-height: 16px;
                    width: 100%;
                    display: block;
                    margin-left: 0;
                    margin-bottom: 15px;
                }

                span {
                    @media (max-width: 992px) {
                        display: inline-block;
                    }
                }
            }

            .search-bar,
            .form-action {
                padding: 0;
            }
            .search-bar{
                flex-basis: 65%;
            }
        }

        .table {
            thead {
                th {
                    @include breakpoint-down(medium) {
                        font-size: 13px;
                        line-height: 15px;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        &.name {
                            @include breakpoint-down(medium) {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}