.site-header {
    padding: 0;
    transition:all 300ms ease-in-out;
    background: $white;
    padding: 12px 0;
    &.sticky-head{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        padding: 0;
        z-index: 10;
    }

    @include breakpoint-down(medium) {
        padding: 14px;
        box-shadow: 0px 5px 27px rgba(0, 0, 0, 0.25);
        border-radius: 0px 0px 5px 5px;
    }

    .navbar-toggler {
        border: none;
        box-shadow: none;
        position: relative;

        .navbar-toggler-icon {
            background: none;

            img {
                transition: all 300ms ease-in-out;

                &:last-child {
                    margin-top: 5px;
                }
            }
        }


        &[aria-expanded="true"] {
            img {
                transform: rotate(225deg);

                &:first-child {
                    position: absolute;
                    top: 18px;
                    left: 32%;
                }

                &:last-child {
                    transform: rotate(130deg);
                    position: absolute;
                    right: 25%;
                    top: 13px;
                }
            }
        }
    }

    .navbar-brand {
        padding: 0;

        img {
            @include breakpoint-up(medium){
                max-height: 70px;
            }
            @include breakpoint-down(medium){
                max-height: 54px;
            }
        }
    }

    .dropdown-toggle {
        &::after {
            content: none;
        }
    }

    .navbar-collapse {
        @include breakpoint-down(medium) {
            padding-top: 35px;
            padding-bottom: 80px;
        }
    }

    .navbar-nav {
        @include breakpoint-down(medium) {
            margin-left: 10px;
            align-items: end !important;
        }

        .nav-item {
            // padding: 42px 36px;
            padding: 30px;
            position: relative;

            @include breakpoint-down(large){
                padding: 42px 18px;
            }

            @include breakpoint-down(medium){
                padding: 42px 10px;
            }

            @include breakpoint-down(small) {
                padding: 15px 0px;
            }

            .nav-link {
                color: $primary;
                z-index: 1;
                padding: 0;

                .fas {
                    font-size: 14px;
                    margin-left: 10px;
                }

                &:before {
                    content: "";
                    background: vsPrimaryOpacity(0.05);
                    position: absolute;
                    width: 100%;
                    height: 114%;
                    top: -12px;
                    left: 0;
                    z-index: 2;
                    opacity: 0;
                    @include breakpoint-down(medium){
                        background: $white;
                        z-index: -1;
                    }
                }

                &.show {
                    &:before {
                        opacity: 1;
                    }
                }

            }

            .dropdown-menu {
                border-radius: 0px 8px 8px 8px;
                top: 97%;
                width: 150%;
                padding: 15px 0px;

                @include breakpoint-down(small){
                    border: none;
                    list-style-type: disc;
                    width: 100%;
                    padding: 0;
                }

                li {
                    padding: 15px 36px;
                    @include breakpoint-down(small){
                        padding: 0;
                        margin: 15px 34px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        &::marker{
                            color: $secondary;
                        }
                    }

                    &:hover {
                        background-color: vsPrimaryOpacity(0.05);
                    }
                }

                .dropdown-item {
                    font-weight: 500;
                    color: $primary;

                    &:hover {
                        background-color: unset;
                    }
                }
            }

            &:last-child {
                margin-right: 30px;
                @include breakpoint-down(medium){
                    margin-right: 15px;
                }
            }
        }
    }

    .cta {
        padding: 12px 30px;
        color: $white;
        background-color: $success;
        border: 1px solid $success;

        @include breakpoint-down(small) {
            margin-left: 10px;
        }

        &:hover {
            background-color: $white;
            color: $success;
        }
    }
}