.banner {
    padding: 200px 20vw;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include breakpoint-down(medium) {
        background-position: 68% 50%;
        padding: 200px 28px;
    }

    .main-heading {
        font-size: 48px;
        line-height: 56px;
        font-weight: 700;
        color: $white;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        letter-spacing: 1px;

        @include breakpoint-down(small) {
            font-size: 24px;
            line-height: 28px;
        }
    }

    .cta-box {

        .btn {
            padding: 15px 40px;
            margin: 36px 15px 0px;

            @include breakpoint-down(small) {
                padding: 12px 30px;
                font-size: 14px;
            }
        }

        .cta-transparent {
            color: $white;
            border-color: $white;

            &:hover {
                background-color: $white;
                color: $primary;
            }
        }

        .cta-white {
            color: $primary;
            border-color: $white;
            background-color: $white;

            &:hover {
                background-color: $primary;
                color: $white;
                border-color: $primary;
            }
        }
    }
}

.jobs {
    &:not(.modal){
        background-color: $light-bg;
        padding-bottom: 100px;
        padding-top: 40px;
    }

    @include breakpoint-down(small) {
        padding-top: 40px;
        padding-bottom: 50px;
    }

    .intro {
        @include breakpoint-down(small) {
            justify-content: center !important;
        }

        .browse {
            border: none;
            color: $primary;

            i {
                margin-left: 10px;
            }

            &:hover {
                transform: scale(1.2);
            }
        }

        .title {
            color: $primary;
        }
    }

    .job-list {
        @include breakpoint-down(small) {
            padding: 0px;
        }

        .job-item {
            padding: 18px 30px;
            border-radius: 8px;
            margin-top: 26px;
            background: #FFFFFF;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
            position: relative;
            transition: all 250ms ease-in-out;
            &:hover{
                background:#ebecf2;
            }

            @include breakpoint-down(medium) {
                align-items: flex-start !important;
                padding: 16px;
                flex-direction: column;
            }

            .details {
                flex-basis: 62%;
                @include breakpoint-up(medium){
                    width: 55%;
                }

                @include breakpoint-down(medium) {
                    flex-direction: column;
                    align-items: start !important;
                }
            }

            .img {

                @include breakpoint-down(medium) {
                    display: flex;
                    flex-direction: row;
                }

                .title {
                    @include breakpoint-down(small) {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        color: $primary;
                    }
                }

                img {
                    width: 85px;
                    height: 85px;
                    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
                    border-radius: 8px;
                    margin-right: 20px;

                    @include breakpoint-down(small) {
                        width: 45px;
                        height: 45px;
                        margin-right: 10px;
                    }
                }
            }

            .tag {
                display: inline-block;
                border-radius: 8px;
                font-size: 14px;
                line-height: 16px;
                box-sizing: border-box;
                filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.05));
                padding: 6px 14px;
                margin-left: 20px;
                margin-bottom: 0.5rem;
            }


            .copy {
                width: 35vw;

                @include breakpoint-down(small) {
                    width: 50vw;
                }

                .title {
                    display: inline-block;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 28px;
                    color: $primary;

                    @include breakpoint-down(medium) {
                        margin-top: 20px;
                    }
                }

                .desc {
                    color: vsPrimaryOpacity(0.5);
                    font-weight: 500;

                    @include breakpoint-down(small) {
                        font-size: 14px;
                        line-height: 16px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                }

                .location {
                    text-decoration: none;
                    color: $primary;
                    font-weight: 400;

                    @include breakpoint-down(small) {
                        margin-top: 10px;
                        font-size: 14px;
                        line-height: 16px;
                    }
                }

                .date {
                    color: $grey;

                    @include breakpoint-down(small) {
                        margin-top: 5px;
                        font-size: 14px;
                        line-height: 16px;
                        margin-bottom: 0;
                    }
                }
            }

            .cta-box {
                flex-basis: 50%;
                justify-content: space-evenly;

                @include breakpoint-down(medium) {
                    margin-top: 10px;
                    justify-content: space-between !important;
                }

                @include breakpoint-down(small) {
                    flex-basis: 100%;
                    width: 100%;
                }

                .btn {

                    &.tag {
                        color: $primary;
                        border: 1px solid $primary;
                        margin-left: 14px;
                        margin-right: 14px;
                        padding: 6px 14px;

                        @include breakpoint-down(medium) {
                            font-size: 12px;
                            line-height: 14px;
                            padding: 6px 18px;
                            margin: 0;
                            margin-right: 6px;
                            white-space: nowrap;
                        }

                        &:last-child {
                            margin-right: 30px;

                            @include breakpoint-down(small) {
                                margin-right: 10px;
                            }
                        }
                    }

                    &:hover {
                        background: $primary;
                        color: $white;
                    }
                }

                .star-box {
                    .star {
                        margin-bottom: 16px;

                        @include breakpoint-down(medium) {
                            position: absolute;
                            top: 50%;
                            right: 20px;
                        }

                        @include breakpoint-down(small) {
                            margin-bottom: 0;
                            position: relative;
                            top: unset;
                            right: unset;
                        }

                        i {
                            font-size: 24px;
                            color: $yellow;
                            @include breakpoint-down(medium) {
                                font-size: 18px;
                            }
                        }
                    }

                    .date {
                        color: $grey;
                        position: absolute;
                        bottom: 0;
                        right: 16px;
                    }
                }
            }

            &.advert {
                background-color: $primary;

                @include breakpoint-down(medium) {
                    flex-direction: row;
                    justify-content: start !important;
                }

                .tag {
                    background: $secondary;
                    // border: 1px solid $success;

                    @include breakpoint-down(medium) {
                        position: absolute;
                        top: 0;
                        right: 0;
                        color: $primary;
                        background: $secondary;
                        border-color: $secondary;
                        font-size: 12px;
                        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
                        border-radius: 0px 5px;
                    }
                }

                .copy {
                    .title {
                        color: $white;

                        @include breakpoint-down(medium) {
                            margin-top: 20px;
                        }

                        @include breakpoint-down(small) {
                            font-size: 16px;
                            line-height: 19px;
                            margin-top: 0;
                        }
                    }

                    .desc {
                        @include breakpoint-down(small) {
                            margin: 0;
                        }
                    }
                }

                .cta-box {
                    text-align: right;

                    @include breakpoint-down(small) {
                        text-align: left;
                    }

                    .btn {
                        background: $success;
                        color: $white;
                        border-color: $success;
                        padding: 15px 50px;

                        @include breakpoint-down(small) {
                            padding: 10px 28px;
                            color: $white;
                            background-color: $success;
                        }

                        &:hover {
                            background: transparent;
                            color: $success;
                        }
                    }
                }

            }

            &.loading-grey {
                .copy {
                    @include breakpoint-down(small) {
                        margin-top: 20px;
                    }

                    .title,
                    .desc,
                    .location {
                        background: $primary;
                        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
                        border-radius: 8px;
                    }

                    .title {
                        width: 80%;
                        height: 24px;
                        opacity: 0.35;
                    }

                    .desc {
                        width: 45%;
                        height: 18px;
                        opacity: 0.25;
                    }

                    .location {
                        width: 55%;
                        height: 18px;
                        opacity: 0.25;
                    }
                }

                .cta-box {
                    .tags {

                        .btn {
                            &.tag {
                                background-color: $white;
                                width: 150px;
                                height: 29px;
                                opacity: 0.25;
                                border: 2px solid #3C3D6B;
                                box-sizing: border-box;
                                filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.05));
                                border-radius: 5px;
                            }
                        }
                    }

                    .star-box {
                        .star {
                            i {

                                color: $primary;
                                opacity: 0.25;
                            }
                        }
                    }
                }

            }
        }
    }

    .all-jobs {
        margin-top: 50px;
        text-align: center;

        @include breakpoint-down(small) {
            margin-top: 28px;
        }

        .btn {
            padding: 14px 40px;

            @include breakpoint-down(small) {
                font-size: 14px;
                line-height: 16px;
                padding: 12px 18px;
            }

            i {
                margin-left: 10px;
            }
        }
    }
}