.banner {
    &.job-listing {
        padding: 38px 0px;
        text-align: left;

        @include breakpoint-down(small) {
            text-align: center;
            padding: 25px 0px;
        }

        .main-heading {
            font-size: 36px;
            line-height: 42px;

            @include breakpoint-down(small) {
                font-size: 24px;
                line-height: 28px;
            }
        }
    }
}

.job-listing {
    .listing-wrap {
        padding: 0;
    }

    .fltr-wrap {
        padding-left: 0;
        padding-right: 25px;
    }

    .job-list {
        .job-item {
            position: relative;

            &:first-child {
                margin-top: 0;
            }

            .details {
                width: 60%;

                @include breakpoint-down(small) {
                    width: 100%;
                }

                .title:not(.in-accordion) {
                    font-size: 22px;
                    color: $primary;
                    max-width: 400px;
                    // white-space: nowrap;
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                    margin-bottom: 4px;
                    font-weight: 500;

                    @include breakpoint-down(large) {
                        max-width: 300px;
                    }

                    @include breakpoint-down(medium) {
                        max-width: unset;
                        // white-space: unset;
                        max-width: 220px;
                        line-height: 19px;
                        font-size: 16px;
                    }
                }

                .copy {
                    width: 100%;

                    .desc {
                        margin-bottom: 8px;
                    }
                }
            }

            .cta-box {
                .tags {
                    @include breakpoint-down(small) {
                        flex-direction: row !important;
                    }
                }

                .star-box {
                    .star {
                        position: absolute;
                        top: 35%;
                        right: 34px;

                        @include breakpoint-down(medium) {
                            position: relative;
                            top: unset;
                            right: unset;
                        }
                    }

                    .date {
                        font-size: 14px;
                        line-height: 16px;
                    }
                }
            }
        }
    }

    .filters {
        &:not(.modal-filters) {

            @include breakpoint-down(small) {
                opacity: 0;
                z-index: -5;
                position: fixed;
                bottom: 6%;
                left: 0;
                width: 100%;
                background: #F8F9FA;
                padding: 35px 26px;
                transition: all 250ms ease-in-out;

                &.open {
                    opacity: 1;
                    z-index: 5;
                }
            }
        }

    }

    .title {
        margin-bottom: 15px;

        @include breakpoint-down(small) {
            display: none !important;
        }
    }

    .results-count {
        font-size: 16px;
        line-height: 19px;
        color: $primary;
        opacity: 0.5;
        margin: 0;
    }

    .form {
        .accordion.fields {
            position: relative;
        }

        .field-item {
            background: #FFFFFF;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
            border-radius: 8px;
            padding: 25px 30px;
            margin-bottom: 15px;
            border: 1px solid rgba(0, 0, 0, .125);

            &.btns {
                background: transparent;
                padding: 0;
                box-shadow: none;

                @include breakpoint-down(large) {
                    flex-direction: column;
                }

                @include breakpoint-down(small) {
                    flex-direction: row;
                }

                .cta {
                    padding: 15px 34px;
                    background: $white;
                    border: 1px solid #E2E2E9;
                    color: $primary;

                    &:first-child {
                        margin-right: 15px;

                        @media (max-width:1400px) {
                            margin-right: 0;
                        }
                    }

                    &:last-child {
                        border-color: $primary;

                        @media (max-width:1400px) {
                            margin-top: 15px;
                        }

                        @include breakpoint-down(small) {
                            margin-top: 0;
                            margin-left: 15px;
                        }
                    }

                    @include breakpoint-down(small) {
                        padding: 15px 38px;
                    }

                    &:hover {
                        color: $white;
                        background: $primary;
                    }
                }
            }

            .accordion-button {
                color: $primary;
                font-size: 18px;
                line-height: 21px;
                background: none;
                box-shadow: unset;
                padding: 0;

                &::after {
                    background-image: url('../images/angle-up.svg');
                    transform: rotate(-180deg);
                    background-size: 16px;
                }

                &:not(.collapsed) {
                    &:after {
                        transform: rotate(-360deg);
                    }
                }
            }


            &.green {
                text-align: center;
                padding: 0px;

                .btn {
                    width: 100%;
                    position: relative;
                    width: 100%;
                    display: block;
                    padding: 15px 0;
                    background: $success;
                    color: $white;
                    border: 2px solid $success;
                    box-sizing: border-box;
                    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
                    border-radius: 8px;

                    &:hover {
                        background: $white;
                        color: $success;

                        .cstm-tooltip {
                            opacity: 0.5;
                            z-index: 2;
                        }
                    }
                }
            }

            .accordion-header {
                color: $primary;
                font-size: 18px;
                line-height: 21px;
                background: none;
                box-shadow: unset;
                padding: 0;
            }

            .confirmation {
                padding-top: 20px;

                .check-box {
                    &:last-child {
                        margin-left: 24px;
                    }
                }
            }

            label {
                color: $primary !important;
                font-size: 18px;
                line-height: 21px;
                position: relative;
                padding-left: 42px;
                cursor: pointer;
                word-break: break-all;
            }

            input[type="radio"],
            input[type="checkbox"] {
                opacity: 0;
                position: absolute;

                &:checked+.checkmark {
                    background: $success;
                    border-color: $success;
                    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);

                    &::after {
                        display: block;
                    }
                }
            }

            .checkmark {
                display: inline-block;
                background: #FFFFFF;
                border: 1px solid vsPrimaryOpacity(0.35);
                box-sizing: border-box;
                box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
                border-radius: 8px;
                width: 30px;
                height: 30px;
                position: absolute;
                left: 0;
                top: -4px;

                &:after {
                    // display: none;
                    content: "\2713\0020";
                    position: absolute;
                    left: 8px;
                    top: 4px;
                    color: #fff;
                    font-size: 18px;
                    font-weight: 700;
                }
            }


            .search {
                padding: 20px 30px;
                width: 99%;
                position: absolute;
                left: 2px;
                border: 1px solid vsPrimaryOpacity(0.15);
                border-left: none;
                border-right: none;
                outline: none;
                opacity: 0;
                z-index: -2;
                color: $primary;
                top: 54px;

                @include breakpoint-down(small) {
                    padding-left: 30px;
                }
            }

            .list-options {
                padding-top: 25px;
                margin: 0;
                margin-top: 70px;
                margin-left: -36px;
                list-style-type: none;
                text-align: left;
                padding-left: 12px;
                padding-right: 12px;
                @include breakpoint-down(small){
                    padding-left: 40px;
                }

                &.states {
                    max-height: 276px;
                    overflow-y: scroll;
                }

                &:not(.modal-list) {
                    @include breakpoint-down(small) {
                        // max-height: 100px;
                        overflow-y: scroll;
                        position: absolute;
                        background: #fff;
                        width: 100%;
                        z-index: 5;
                        left: 38px;
                    }

                }

                li {
                    margin-bottom: 16px;
                    font-weight: 400;

                    .checkmark {
                        box-shadow: unset;
                    }
                }
            }

            .accordion-collapse {
                &.show {
                    .search {
                        opacity: 1;
                        z-index: 2;
                    }
                }
            }
        }
    }

    .pagination {
        .numbers {
            list-style-type: none;
            margin: 18px 12px 12px 12px;
            margin-top: 18px;
            margin-right: 12px;
            margin-left: 12px;
            padding-left: 0;

            li {
                display: inline;
                border: 1px solid vsPrimaryOpacity(0.15);
                box-sizing: border-box;
                filter: drop-shadow(0px 0px 25px vsPrimaryOpacity(0.05));
                border-radius: 8px;
                padding: 10px 15px;

                a {
                    color: $primary;
                }

                &.current {
                    background: vsPrimaryOpacity(0.15);
                }
            }
        }

        .prev,
        .next {
            position: relative;

            @include breakpoint-down(small) {
                border: 1px solid #E2E2E9;
                box-sizing: border-box;
                box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
            }

            span {
                @include breakpoint-down(small) {
                    display: none;
                }
            }

            i {
                position: absolute;
                top: 32%;

                @include breakpoint-down(small) {
                    font-size: 18px;
                }
            }
        }

        .prev {
            padding-right: 24px;

            @include breakpoint-down(small) {
                padding: 18px 22px 28px 28px;
            }

            i {
                left: 12px;
            }
        }

        .next {
            padding-left: 24px;

            @include breakpoint-down(small) {
                padding: 12px 18px 30px 30px;
            }

            i {
                right: 20px;
            }
        }
    }

    .mob-triggers {
        position: fixed !important;
        bottom: -18px;
        left: 0;
        width: 100%;
        z-index: 7;
        background: $white;

        .filter-trigger,
        .results-count {
            display: inline-block;
            width: 48%;
            text-align: center;
            padding: 24px 0;
            margin: 0;
        }

        .filter-trigger {
            border-right: 1px solid #E2E2E9;

            &.opened {
                i {
                    transform: rotate(180deg);
                }
            }

            i {
                margin-left: 6px;
                transition: all 250ms ease-in-out;
            }
        }

        .results-count {
            color: vsPrimaryOpacity(0.5);
        }
    }
}

.modal {
    .modal-content {
        padding: 30px;

        .modal-body {
            padding: 0;

            .row {
                box-shadow: none !important;

                .col {
                    margin-bottom: 0;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                    }
                }
            }

            .form-control {
                border: 1px solid #E2E2E9;
                box-sizing: border-box;
                border-radius: 8px;
                padding: 12px 16px;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                ::placeholder {
                    font-size: 18px;
                    line-height: 21px;
                    color: vsPrimaryOpacity(0.5);
                }
            }

            &.login-required {
                .list-sec.form {
                    background: transparent;
                    box-shadow: none;
                }

                .note-check {
                    .greyed {
                        font-size: 14px;
                        line-height: 16px;
                        border-color: transparent;
                        margin-top: 15px;

                        &:hover {
                            border-color: $primary;
                        }
                    }
                }
            }

            .note {
                font-weight: 400;

                .link {
                    font-weight: 500;
                }
            }

            .label {
                label {
                    font-weight: normal;

                    .checkmark {
                        top: 4px !important;
                        border-width: 2px !important;
                    }
                }
            }

            .toggle-button-cover {
                padding: 3px !important;
                background: $light-bg;

                .link {
                    @include breakpoint-down(small) {
                        font-size: 14px !important;
                        line-height: 16px !important;
                    }
                }

                .transparent {
                    padding: 15px 0;
                    color: $primary;
                    background: transparent;
                    border: 1px solid transparent;
                }
            }

            .filters {
                .field-item {
                    padding: 12px 16px;
                    box-shadow: none;
                    border: 1px solid #E2E2E9;

                    .accordion-header:not(.blue) {
                        color: vsPrimaryOpacity(0.5);
                    }
                }
            }

        }

    }

    .delete-confirm {
        .red {
            color: $danger;
        }

        .cta-box {
            display: flex;
            justify-content: space-between;

            .btn {
                padding: 15px;
                display: inline-block;
                width: 44%;
                flex-basis: 44%;
                border-color: $danger;

                &.red-border {
                    color: $danger;

                    &:hover {
                        color: $white;
                        background: $danger;
                    }
                }

                &.full-red {
                    background: $danger;
                    color: $white;

                    &:hover {
                        background: $white;
                        color: $danger;
                    }
                }
            }
        }
    }

    .modal-header {
        padding: 0;
        margin-bottom: 20px;
        border: none;

        .modal-title {
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: $primary;

            @include breakpoint-down(small) {
                font-size: 18px;
                line-height: 21px;
            }

            &.login-required {
                color: $yellow;
            }

            &.delete-confirm {
                color: $danger;
            }
        }

        .btn-close {
            background: #e2e2e9;
            opacity: 1;

            i {
                color: $primary;
                font-weight: 900;
                font-size: 20px;
            }
        }
    }
}