.banner {
    &.job-listing {
        padding: 38px 0px;
        text-align: left;

        @include breakpoint-down(small) {
            text-align: center;
            background-size: auto;
            background-position: 77% 10%;
        }

        .main-heading {
            font-size: 36px;
            line-height: 42px;

            @include breakpoint-down(small) {
                font-size: 24px;
                line-height: 28px;
            }
        }
    }
}

.job-listing {
    .job-list {
        .job-item {
            &:first-child {
                margin-top: 0;
            }

            .details {
                width: 60%;

                @include breakpoint-down(small) {
                    width: 100%;
                }

                .title {
                    font-size: 18px;
                }

                .copy {
                    width: 100%;
                }
            }

            .cta-box {
                .tags {
                    @include breakpoint-down(small) {
                        flex-direction: row !important;
                    }
                }

                .star-box {
                    .date {
                        font-size: 14px;
                        line-height: 16px;
                    }
                }
            }
        }
    }

    .filters {
        @include breakpoint-down(small) {
            opacity: 0;
            z-index: -5;
            position: fixed;
            bottom: 6%;
            left: 0;
            width: 100%;
            background: #F8F9FA;
            padding: 35px 26px;
            transition: all 250ms ease-in-out;

            &.open {
                opacity: 1;
                z-index: 5;
            }
        }

        .title {
            @include breakpoint-down(small) {
                display: none !important;
            }
        }

        .results-count {
            font-size: 16px;
            line-height: 19px;
            color: $primary;
            opacity: 0.5;
        }

        .form {
            .accordion.fields {
                position: relative;
            }

            .field-item {
                background: #FFFFFF;
                box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
                border-radius: 8px;
                padding: 25px 30px;
                margin-bottom: 15px;

                &.btns {
                    background: transparent;
                    padding: 0;

                    .cta {
                        padding: 15px 30px;
                        background: $white;

                        @include breakpoint-down(small) {
                            padding: 15px 38px;
                        }

                        &:hover {
                            color: $white;
                            background: $primary;
                        }
                    }
                }

                .accordion-button {
                    color: $primary;
                    font-size: 18px;
                    line-height: 21px;
                    background: none;
                    box-shadow: unset;
                    padding: 0;

                    &::after {
                        background-image: url('../images/angle-up.svg');
                        transform: rotate(-180deg);
                    }

                    &:not(.collapsed) {
                        &:after {
                            transform: rotate(-360deg);
                        }
                    }
                }


                &.green {
                    text-align: center;
                    padding: 0px;

                    .btn {
                        position: relative;
                        width: 100%;
                        display: block;
                        padding: 15px 50px;
                        background: $success;
                        color: $white;
                        border: 2px solid $success;
                        box-sizing: border-box;
                        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
                        border-radius: 8px;

                        &:hover {
                            background: $white;
                            color: $success;

                            .cstm-tooltip {
                                opacity: 0.5;
                                z-index: 2;
                            }
                        }

                        .cstm-tooltip {
                            opacity: 0;
                            position: absolute;
                            width: 100%;
                            left: 0;
                            background: #000000;
                            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
                            border-radius: 8px;
                            top: 130%;
                            padding: 15px 15px 15px 30px;
                            z-index: -2;
                            color: $white;
                            transition: all 250ms ease-in-out;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 16px;

                            &:before {
                                content: "";
                                position: absolute;
                                bottom: 100%;
                                left: 50%;
                                margin-left: -13px;
                                border-width: 13px;
                                border-style: solid;
                                border-color: transparent transparent black transparent;
                            }

                            i {
                                position: absolute;
                                left: 12px;
                            }
                        }
                    }
                }

                .accordion-header {
                    color: $primary;
                    font-size: 18px;
                    line-height: 21px;
                    background: none;
                    box-shadow: unset;
                    padding: 0;
                }

                .confirmation {
                    padding-top: 20px;
                }

                label {
                    color: $primary;
                    font-size: 18px;
                    line-height: 21px;
                    position: relative;
                    padding-left: 42px;
                    cursor: pointer;
                }

                input[type="radio"],
                input[type="checkbox"] {
                    opacity: 0;

                    &:checked+.checkmark {
                        background: $primary;

                        &::after {
                            display: block;
                        }
                    }
                }

                .checkmark {
                    display: inline-block;
                    background: #FFFFFF;
                    border: 1px solid $primary;
                    box-sizing: border-box;
                    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
                    border-radius: 8px;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    left: 0;
                    top: -4px;

                    &:after {
                        // display: none;
                        content: "\2713\0020";
                        position: absolute;
                        left: 8px;
                        top: 4px;
                        color: #fff;
                        font-size: 18px;
                        font-weight: 700;
                    }
                }


                .search {
                    padding: 20px;
                    width: 99%;
                    position: absolute;
                    left: 2px;
                    border: 1px solid rgba(60, 61, 107, 0.15);
                    border-left: none;
                    border-right: none;
                    outline: none;
                    opacity: 0;
                    z-index: -2;
                    @include breakpoint-down(small){
                        padding-left: 30px;
                    }
                }

                .list-options {
                    padding-top: 25px;
                    margin: 0;
                    margin-top: 70px;
                    margin-left: -36px;
                    list-style-type: none;
                    text-align: left;

                    @include breakpoint-down(small) {
                        max-height: 100px;
                        overflow-y: scroll;
                    }

                    li {
                        margin-bottom: 16px;
                    }
                }

                .accordion-collapse {
                    &.show {
                        .search {
                            opacity: 1;
                            z-index: 2;
                        }
                    }
                }
            }
        }
    }

    .pagination {
        .numbers {
            list-style-type: none;
            margin: 18px 12px 12px 12px;
            margin-top: 18px;
            margin-right: 12px;
            margin-left: 12px;
            padding-left: 0;

            li {
                display: inline;
                border: 1px solid rgba(60, 61, 107, 0.15);
                box-sizing: border-box;
                filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.05));
                border-radius: 8px;
                padding: 10px 15px;

                a {
                    color: $primary;
                }

                &.current {
                    background: rgba(60, 61, 107, 0.15);
                }
            }
        }

        .prev,
        .next {
            position: relative;

            @include breakpoint-down(small) {
                border: 1px solid #E2E2E9;
                box-sizing: border-box;
                box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
            }

            span {
                @include breakpoint-down(small) {
                    display: none;
                }
            }

            i {
                position: absolute;
                top: 32%;

                @include breakpoint-down(small) {
                    font-size: 18px;
                }
            }
        }

        .prev {
            padding-right: 24px;

            @include breakpoint-down(small) {
                padding: 18px 22px 28px 28px;
            }

            i {
                left: 12px;
            }
        }

        .next {
            padding-left: 24px;

            @include breakpoint-down(small) {
                padding: 12px 18px 30px 30px;
            }

            i {
                right: 20px;
            }
        }
    }

    .mob-triggers {
        position: fixed !important;
        bottom: -2px;
        left: 0;
        width: 100%;
        z-index: 7;
        background: $white;

        .filter-trigger,
        .results-count {
            display: inline-block;
            width: 48%;
            text-align: center;
            padding: 24px 0;
            margin: 0;
        }

        .filter-trigger {
            border-right: 1px solid #E2E2E9;

            &.opened {
                i {
                    transform: rotate(180deg);
                }
            }

            i {
                margin-left: 6px;
                transition: all 250ms ease-in-out;
            }
        }

        .results-count {
            color: rgba(60, 61, 107, 0.5);
        }
    }
}