.cv-db {
    .table {
        background: #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        border-collapse: separate !important;
        border-spacing: 0;

        thead {
            background-color: #E2E2E9;
            border-style: none;

            tr {
                border: none;
                border-style: unset;
                box-sizing: border-box;
                // border-radius: 8px 8px 0px 0px;

            }
        }

        th {
            color: $primary;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            padding-top: 15px;
            padding-bottom: 15px;
            text-align: left;

            &:first-child {
                padding-left: 25px;
                border-radius: 8px 0px 0px 0px;
            }

            &:nth-child(2) {
                padding-left: 25px;

                @include breakpoint-up(medium) {
                    border-radius: 8px 0px 0px 0px;
                }
            }

            &:last-child {
                padding-right: 25px;
                border-radius: 0px 8px 0px 0px;
            }
        }

        tbody {
            tr {
                td {
                    text-align: left;
                    font-size: 14px;
                    line-height: 40px;
                    border-bottom: 1px solid #E2E2E9;
                    vertical-align: middle;

                    @include breakpoint-down(large) {
                        line-height: 24px;
                    }

                    &.sn {
                        color: vsPrimaryOpacity(0.75);
                    }

                    &.name {
                        color: $primary;
                        font-weight: 400;
                        font-size: 16px;
                    }

                    &.activity {
                        color: vsPrimaryOpacity(0.5);
                    }
                    &.bold{
                        color: $primary !important;
                        font-weight: 500 !important;
                    }

                    &.hyperlink {
                        font-weight: 500;
                        text-decoration-line: underline;
                        color: $hyperlink;

                        @include breakpoint-down(small) {
                            a {
                                font-size: 12px;
                            }
                        }
                    }

                    &:nth-child(2) {
                        padding-left: 25px;
                    }

                    &:first-child {
                        padding-left: 25px;
                    }

                    &:last-child {
                        padding-right: 25px;
                    }

                    &.action {
                        a {
                            color: $yellow;
                        }

                        .closed {
                            display: none;
                        }

                        .opened {
                            display: inline-block;
                        }
                    }
                    &.status{
                        .nav-link{
                            &:not(.dash){
                                border: 1px solid;
                                border-radius: 8px;
                                padding: 0;
                                @include breakpoint-down(small){
                                    width: 50%;
                                }
                            }
                        }
                        &.red{
                            color: $danger;
                            .nav-link{
                                border-color: $danger;
                                color: $danger;
                                &:after{
                                    content: none;
                                }
                            }
                            .dropdown-menu{
                                border-color: $danger;
                            }
                        }
                        &.hyperlink{
                            text-decoration: none;
                            .nav-link{
                                color: $hyperlink;
                                border-color: $hyperlink;
                                &:after{
                                    content: none;
                                }
                            }
                            .dropdown-menu{
                                border-color: $hyperlink;
                            }
                        }
                        &.green{
                            color: $success;
                            .nav-link{
                                color: $success;
                                border-color: $success;
                                &:after{
                                    content: none;
                                }
                            }
                            .dropdown-menu{
                                border-color: $success;
                            }
                        }
                        &.dash{
                            color:$success;
                        }
                    }
                }

                &.mobile-activity {
                    opacity: 0;
                    z-index: -2;
                    position: absolute;
                    transition: all 250ms ease-in-out;

                    td {
                        &:nth-child(2) {
                            font-weight: 500;
                            font-size: 14px;
                            color: vsPrimaryOpacity(0.75);
                            line-height: 24px;
                        }

                        &:not(.inner-table):last-child {
                            font-size: 14px;
                            font-weight: 400;
                            position: absolute;
                            right: 4%;
                            color: vsPrimaryOpacity(0.75);
                        }

                        &.inner-table:not(.position) {
                            padding: 0;

                            .table {
                                box-shadow: none;
                            }
                        }
                        
                    }
                }

                &.open {
                    .action {
                        .closed {
                            display: inline-block;
                        }

                        .opened {
                            display: none;
                        }
                    }

                    +.mobile-activity {
                        opacity: 1;
                        z-index: 2;
                        position: relative;
                    }
                }
            }
        }
    }
    &.job-listing{

        &.job-seekers{
            .filter-bar{
                .search-bar{
                    flex-basis: 100%;
                }
            }
        }
        .table{
            tr{
                td{
                    &.created, &.expired{
                        font-weight: 400;
                    }
                }
            }
        }
    }
}
.job-detail {
    .container{
        @include breakpoint-down(small){
            padding: 0;
        }
    }
    &.banner {
        @include breakpoint-down(small){
            background-image: url('../images/mob-bg.png') !important;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .job-list{
            @include breakpoint-down(small){
                padding: 0;
            }
        }
        .job-item {
            .img {
                @include breakpoint-up(medium) {
                    margin-right: 20px;
                }
            }

            .details {

                .location,
                .title,
                .date {
                    display: block;
                    margin-bottom: 0.5rem;
                    color: $white;
                }

                .title {
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 28px;
                }

                .location,
                .date {
                    font-size: 16px;
                    line-height: 18px;
                }


                @include breakpoint-down(small) {
                    flex-direction: column;
                    text-align: left;
                    padding: 0 30px;
                }
            }
        }

    }


    &.jobs {
        @include breakpoint-down(small) {
            padding-top: 16px;
        }

        .intro {
            @include breakpoint-down(small) {
                margin-left: 30px;
                justify-content: start !important;
            }

            .title {
                font-size: 24px;
                margin-top: 25px;

                @include breakpoint-down(small) {
                    font-size: 18px;
                    line-height: 21px;
                }
            }

            .browse {
                i {
                    margin-left: unset;
                    margin-right: 20px;
                }
            }
        }

        .list-sec {
            background: $white;
            border: 1px solid #E2E2E9;
            box-sizing: border-box;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
            border-radius: 8px;
            padding: 25px 30px;
            margin-top: 20px;

            @include breakpoint-down(small) {
                padding: 15px;
                margin: 15px 30px;
            }

            &.detail {
                color: vsPrimaryOpacity(0.65);
                font-size: 16px;
                line-height: 25px;
                font-weight: normal;
            }

            &.form {
                padding: 30px;

                @include breakpoint-down(small) {
                    padding: 20px;
                }

                .form-control {
                    color: $primary;
                    padding: 15px 20px;
                }

                ::placeholder {
                    color: vsPrimaryOpacity(0.65);
                }

                .col-md-6 {
                    .form-control:not(:last-child) {
                        margin-bottom: 20px;
                    }

                    &:last-child {
                        @include breakpoint-down(small) {
                            margin-top: 20px;
                        }
                    }
                }

                .submit {
                    background: $success;
                    color: $white;
                    border: 1px solid $success;
                    box-sizing: border-box;
                    border-radius: 8px;
                    padding: 15px 8px;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    letter-spacing: 0.5px;
                    transition: all 250ms ease-in-out;
                    @include breakpoint-down(large){
                        font-size: 16px;
                    }

                    &:hover {
                        background: $white;
                        color: $success;
                    }
                }
            }
        }


        .list-title {
            list-style-type: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 40px;
            padding: 0;

            li {

                &.detail,
                p,
                a,
                &.heading {
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 40px;
                    color: vsPrimaryOpacity(0.65);

                    @include breakpoint-down(small) {
                        line-height: 26px;
                    }
                }

                &.detail {
                    @include breakpoint-down(small){
                        margin-bottom: 16px;
                        line-height: 26px;

                    }
                    .heading {
                        text-decoration: underline;
                    }

                    .tag {
                        border: 1px solid vsPrimaryOpacity(0.65);
                        padding: 5px 10px;
                        box-sizing: border-box;
                        filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.05));
                        border-radius: 8px;
                        font-size: 12px;
                        font-weight: 500;

                        @include breakpoint-down(small) {
                            font-weight: 500;
                            line-height: 14px;
                        }
                    }
                }

                &.heading {
                    color: $primary;
                }
            }
        }

        .main-content:not(.modal-dialog) {
            margin-right: 14px;
            @include breakpoint-down(small){
                padding: 0;
            }
        }

        &.cv-db {
            .main-content {
                margin-right: 0;

                .list-sec.form {
                    background-color: #fff;
                }
            }
        }

        .sidebar {
            margin-top: 33px;
            margin-left: 14px;
            text-align: center;

            &:not(.in-accordion) {
                @include breakpoint-up(large) {
                    width: 30%;
                }
            }

            @include breakpoint-down(small) {
                margin: 0;
            }

            .button {
                box-sizing: border-box;
                border-radius: 8px;
                padding: 15px 0;
                font-weight: 900;
                font-size: 18px;
                line-height: 21px;
                letter-spacing: 0.5px;
                transition: all 250ms ease-in-out;

                i {
                    margin-right: 10px;
                }

                &.green {
                    background: $success;
                    color: $white;
                    border: 1px solid $success;

                    &:hover {
                        background: $white;
                        color: $success;
                    }
                }

                &.yellow {
                    background: $white;
                    color: $yellow;
                    border: 1px solid $yellow;
                    margin-top: 10px;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;

                    &:hover {
                        background: $yellow;
                        color: $white
                    }
                }

                &.blue {
                    background: $white;
                    border: 1px solid vsPrimaryOpacity(0.15);
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 21px;

                    &:hover {
                        background: $primary;
                        color: $white;
                    }
                }
            }

            .share-text {
                color: vsPrimaryOpacity(0.5);
                font-size: 14px;
                line-height: 16px;
                margin: 34px 0;
                position: relative;
                background: vsPrimaryOpacity(0.15);
                height: 1px;

                span {
                    background: #fff;
                    padding: 10px;
                    position: relative;
                    top: -10px;
                }
            }

            .copy {
                position: relative;
                padding: 0;
                margin-top: 10px;

                input {
                    border: 1px solid #E2E2E9;
                    background: #F8F9FA;
                    box-sizing: border-box;
                    border-radius: 8px;
                    padding: 16px 32px 16px 16px;
                    font-size: 16px;
                    line-height: 19px;
                }

                .copy-cta {
                    position: absolute;
                    right: 14px;
                    top: 30%;
                    color: $primary;
                }
            }

            .social {
                margin-top: 10px;

                .icon {
                    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
                    border-radius: 8px;
                    color: $white;
                    padding: 11px 30px;

                    @include breakpoint-down(large) {
                        padding: 11px 20px;
                    }

                    &:not(:last-child) {
                        margin-right: 5px;
                    }

                    &.linkedin {
                        background: #0077B5;
                    }

                    &.twitter {
                        background: #1DA1F2;
                    }

                    &.facebook {
                        background: #425F9C;
                    }

                    i {
                        font-size: 24px;
                        line-height: 28px;
                    }
                }

                &.mob-social {
                    display: none;
                }

            }

            .contact-info {
                margin-top: 25px;
                text-align: left;

                p {
                    color: vsPrimaryOpacity(0.5);
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    text-transform: uppercase;
                }

                a {
                    display: block;
                    color: $primary;
                    word-break: break-all;

                    &:first-child {
                        margin-top: 12px;
                    }

                    &:last-child {
                        margin-top: 8px;
                    }

                    i {
                        margin-right: 10px;
                    }
                }

            }

            &.mob {
                .contact-info {
                    margin-top: 0px;

                    a {
                        color: vsPrimaryOpacity(0.65);

                        &:first-child {
                            margin-top: 0px;
                        }
                    }
                }
            }

            &.job-detail {
                .mob-triggers {
                    display: none;

                    @include breakpoint-down(small) {
                        display: flex !important;
                    }

                    .filter-trigger:first-child {
                        background: $success;
                        color: $white;

                        i {
                            margin: 0;
                        }

                        span {
                            margin-left: 5px;
                        }

                        .toggle {
                            display: none;
                        }

                        &.opened {
                            i:first-child {
                                display: none;
                            }

                            .toggle {
                                display: inline-block;
                                transform: unset;
                            }
                        }
                    }

                    .results-count {
                        display: flex;
                        position: relative;

                        &:after {
                            content: '';
                            position: absolute;
                            width: 2px;
                            height: 100%;
                            background: #E2E2E9;
                            left: 50%;
                            top: 0;
                        }

                        a {
                            flex-basis: 50%;
                            width: unset;
                            padding: 0;
                            font-size: 24px;
                        }

                        i {
                            color: $primary;

                            &.star {
                                color: $yellow;
                            }
                        }
                    }
                }

                .filters {
                    .social {
                        &.mob-social {
                            display: none !important;
                        }
                    }

                    &.open {
                        margin: 0;
                        padding-bottom: 40px;
                        padding-top: 30px;

                        .green,
                        .yellow,
                        .share-text {
                            display: none;
                        }

                        .social {
                            display: none !important;

                            &.mob-social {
                                display: flex !important;
                                flex-direction: column !important;

                                a {
                                    margin-bottom: 10px;
                                    padding: 16px 0;

                                    i {
                                        margin-right: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.admin-job-list {
    .table {
        .d-md-block{
            @media(min-width: 768px){
                display: table-cell !important;
            }
        }
        th {
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            &.btn{
                border: none;
                border-radius: 0;
                position: relative;
                &:hover{
                    .cstm-tooltip{
                        opacity: 1;
                    }
                }
                .cstm-tooltip{
                    width: auto;
                    top: -150%;
                    left: -45%;
                    padding: 18px;
                    &:before{
                        bottom: unset;
                        top: 100%;
                        transform: rotate(180deg);
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    font-weight: 500;
                    color: vsPrimaryOpacity(0.75);

                    &.name {
                        color: $hyperlink;
                    }

                    &.status {
                        color: #6D6E90;

                        &.published {
                            color: $success;
                        }
                    }

                    &.position {
                        position: relative;
                        padding-left: 20px;

                        &::before {
                            content: '';
                            background: $yellow;
                            width: 14px;
                            height: 14px;
                            position: absolute;
                            left: 0;
                            top: 38%;
                            border-radius: 50%;

                            @include breakpoint-down(small) {
                                top: 33%;
                            }
                        }

                        &.open {
                            &:before {
                                background: $success;
                            }
                        }
                    }

                    &.count {
                        font-weight: bold !important;
                    }

                    &.edit-action {
                        background: $light-bg;
                        padding-right: 8px;
                        padding-left: 8px;
                    }

                    &.mob-cta {
                        a{
                            border: 1px solid $hyperlink;
                            box-sizing: border-box;
                            border-radius: 5px;
                            padding: 5px 0;
                            width: 40%;
                            display: inline-block;
                            text-align: center;
                            &:first-child{
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.employer-profile{
    .table{
        tbody{
            tr{
                &.open{
                    .action{
                        border:none;
                    }
                }

                td{
                    font-size: 16px;
                    @include breakpoint-down(large){
                        line-height: 24px;
                    }
                    &.activity{
                        font-weight: 400;
                        color: vsPrimaryOpacity(0.75);
                    }
                    &.move-right{
                        @include breakpoint-down(medium){
                            padding-right: 22px;
                            text-align: right;
                            right: 0 !important;
                        }
                    }
                }
            }
        }
    }
    .emp-dashboard{
        &.job-listing{
            margin: 15px;
            padding: 20px 15px;
            > :first-child{
                padding: 0;
            }
            .row{
                > *{
                    padding-left: 0;
                }
            }
        }
    }
    .job-list{
        @include breakpoint-down(medium){
            padding: 20px 15px !important;
        }
    }
    &.job-listing{
        .emp-dashboard{
            .emp-sidebar{
                .list-sec{
                    .note-check {
                        .greyed{
                            border-color: transparent;
                            @include breakpoint-down(medium){
                                width: 100%;
                                text-align: center;
                            }
                            &:hover{
                                border-color: $primary;
                            }
                        }
                    }
                }
            }
        } 
    }
}