.post-a-job {
    &.jobs {
        &.contact-us {
            background-color: $white;

            .main-content {
                .form {
                    background-color: $light-bg;
                }
            }
        }

        h2 {
            display: inline-block;

            &.accordion-header {
                display: block;
            }

            i {
                margin-right: 10px;
            }
        }

        .sidebar {
            margin: 0;
            margin-right: 22px;

            @include breakpoint-down(small) {
                .list-sec {
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            .create-mob {
                @include breakpoint-down(small) {
                    background: transparent;
                    box-shadow: none;
                    border: none;
                }
            }

            .skip {
                padding: 0;
                margin-top: 0;

                a {
                    color: $success;
                    border-radius: 8px;
                    border: 1px solid #E2E2E9;
                    display: block;
                    width: 100%;
                    padding: 15px 0;
                    background-color: $white;

                    &:hover {
                        color: $white;
                        background-color: $success;
                    }
                }
            }

            .create {
                padding: 0;
                text-align: left;

                @include breakpoint-down(small) {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                .create-item {
                    z-index: 5;
                    position: relative;

                    &:last-child{
                        .number-wrap{

                            .fa-stack-1x{
                                width: 112%;
                            }
                        }
                    }

                    &:not(:first-child):before {
                        content: '';
                        width: 2px;
                        height: 100%;
                        background: #E2E2E9;
                        bottom: 56px;
                        position: absolute;
                        left: 22px;
                        z-index: -1;

                        @include breakpoint-down(small) {
                            width: 100%;
                            height: 2px;
                            background: #E2E2E9;
                            bottom: 50% !important;
                            position: absolute;
                            left: -67px;
                            z-index: -1;
                        }
                    }

                    &.emp-profile{
                        &:not(:first-child):before {
                            bottom: 50px;
                        }
                    }

                    // &:nth-child(3):before {
                    //     // bottom: 37px;
                    // }

                    &.active {
                        .number {
                            color: $white;
                            background: $success;
                        }

                        &:not(:first-child):before {
                            background: $success;
                            bottom: 50px;
                        }
                        .number-wrap{
                            .fa-circle{
                                color: $success;
                                border-radius: 50%;
                            }
                            .icon{
                                color: $white;
                            }
                        }
                    }

                    &:not(:last-child) {
                        margin-bottom: 50px;

                        @include breakpoint-down(small) {
                            margin-bottom: 0;
                        }
                    }

                    .number {
                        display: inline-block;
                        margin-right: 20px;
                        padding: 14px;
                        border-radius: 50%;
                        color: vsPrimaryOpacity(0.5);
                        background: #E2E2E9;
                    }
                    .number-wrap{
                        width: 50px;
                        height: 50px;
                        margin-right: 20px;
                        .fa-circle{
                            color: #E2E2E9;
                            font-size: 50px;
                        }
                        .icon{
                            color: vsPrimaryOpacity(0.5);
                            font-size: 20px;
                        }
                    }

                    h2 {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        color: $primary;

                        @include breakpoint-down(small) {
                            font-size: 16px;
                            line-height: 19px;
                        }
                    }

                    p {
                        font-size: 14px;
                        line-height: 16px;
                        color: vsPrimaryOpacity(0.5);

                        @include breakpoint-down(small) {
                            font-size: 16px;
                            line-height: 19px;
                        }
                    }

                }
            }
        }

        .main-content {
            &.profile {
                margin-bottom: 16px;
            }

            &.col-md-6 {
                width: 48%;

                @include breakpoint-down(medium) {
                    width: 100%;
                }
            }

            .pl-0 {
                padding-left: 0;

                @include breakpoint-down(small) {
                    padding: 0;
                }
            }

            .pr-0 {
                padding-right: 0;

                @include breakpoint-down(small) {
                    padding: 0;
                }
            }

            .note-check {
                font-size: 18px;
                line-height: 21px;
                color: vsPrimaryOpacity(0.75);

                @include breakpoint-down(small) {
                    font-size: 16px;
                    line-height: 19px;
                }

                .greyed {
                    padding: 15px;
                    color: vsPrimaryOpacity(0.75);
                    background: vsPrimaryOpacity(0.15);
                    border: 1px solid #3C3D6B;
                    box-sizing: border-box;
                    border-radius: 5px;
                    display: inline-block;

                    @include breakpoint-down(small) {
                        font-size: 14px;
                    }

                    &:hover {
                        background: $white;
                        color: $primary;
                    }
                }

                .credit-count {
                    color: $success;
                    background: rgba(10, 209, 136, 0.15);
                    float: right;
                    font-weight: 900;
                    font-size: 24px;
                    line-height: 28px;
                    padding: 11px 27px;
                    box-sizing: border-box;
                    border-radius: 50px;

                    @include breakpoint-down(small) {
                        font-size: 18px;
                        line-height: 21px;
                        padding: 7px 18px;
                    }
                }

                .col-md-9 {
                    flex: 0 0 auto;
                    width: 75%;
                }

                .col-md-2 {
                    flex: 0 0 auto;
                }

                .switch {
                    display: inline-block;
                    width: 67px;
                    height: 34px;
                    position: relative;

                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: $light-bg;
                        width: 67px;
                        border: 2px solid #E2E2E9;
                        transition: 250ms all ease-in-out;


                        &:before {
                            position: absolute;
                            content: "";
                            height: 34px;
                            width: 34px;
                            left: 0px;
                            bottom: -2px;
                            background-color: #E2E2E9;
                            transition: 250ms all ease-in-out;
                        }

                        &.round {
                            border-radius: 34px;

                            &:before {
                                border-radius: 50%;
                            }
                        }
                    }

                    .checkbox {
                        opacity: 0;
                        width: 0;
                        height: 0;

                        &:checked+.slider {
                            background-color: $white;

                            &:before {
                                background-color: $success;
                                transform: translateX(32px);
                            }
                        }
                    }
                }
            }

            .form {
                margin-top: 0;

                @include breakpoint-down(small) {
                    margin: 0;
                }

                .label-wrap {
                    position: relative;
                    padding: 0;

                    label {
                        position: absolute !important;
                        top: 18px;
                        left: 10px;
                        padding: 0 5px !important;
                        transition: all 250ms ease-in-out;
                        transform-origin: 0 0;
                        background-color: #fff;
                        opacity: 0;
                        cursor: auto;

                        @include breakpoint-down(small) {
                            font-size: 16px;
                            line-height: 19px;
                        }
                    }

                    .form-control {

                        &::placeholder {
                            transition: all 250ms ease-in-out;
                        }

                        &:focus,
                        &:not(:placeholder-shown),
                        &:hover {
                            box-shadow: none;
                            border-color: #E2E2E9;

                            &::placeholder {
                                opacity: 0;
                            }

                            +label {
                                font-size: 14px;
                                transform: translate(0px, -28px);
                                opacity: 1;
                            }
                        }
                    }
                }

                &.submit {
                    padding: 0;

                    &.p-now {
                        display: flex;
                        justify-content: space-between;
                        box-shadow: none;
                        background: transparent;
                        border: none;

                        .pay-later {
                            display: none;
                        }

                        .submit {
                            flex-basis: 48%;
                            border-width: 2px;

                            @include breakpoint-down(small) {
                                flex-basis: 100%;

                                &:nth-child(2) {
                                    margin-top: 20px;
                                }
                            }

                            &.pay-now-later {
                                background: $white;
                                color: $success;

                                &:hover {
                                    background: $success;
                                    color: $white;
                                }
                            }
                        }
                    }

                    &.p-later {
                        .submit {
                            display: none;

                            &.pay-later {
                                display: block;
                            }
                        }
                    }
                }

                &.list-sec {
                    &:not(:first-child) {
                        margin-top: 15px;
                    }

                    .form-control {
                        margin-bottom: 20px;
                        // color: $primary;


                        &.custom-file-upload {
                            color: vsPrimaryOpacity(0.65);
                            font-size: 1rem;
                            line-height: 21px;
                            text-align: center;
                            background: $light-bg;
                            // padding: 15px 0;
                            padding: 0;
                            border: none;

                            +input[type="file"] {
                                display: none;
                            }

                            i {
                                margin-right: 5px;
                            }


                            span {
                                display: block;
                                margin-top: 10px;
                            }

                        }

                    }

                    // img {
                    //     width: 100%;
                    // }

                    .toggle-box {
                        padding: 0;
                        padding-top: 20px;

                        .row {
                            > :first-child {
                                padding: 0;
                            }
                        }

                        .col-md-2 {
                            @include breakpoint-down(small) {
                                flex-basis: 48%;
                            }
                        }

                        .later-wrap {
                            position: relative;

                            a {
                                position: absolute;
                                right: 16px;
                                top: 16px;
                                background: white;
                                color: $primary;
                                border: none;

                                .cstm-tooltip {
                                    width: 30vw;
                                    left: -13.5vw;
                                    background: #000;
                                    top: unset;
                                    bottom: 130%;

                                    &:before {
                                        top: 100%;
                                        transform: rotate(180deg);
                                    }
                                }

                                &:hover {
                                    .cstm-tooltip {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }

                    h3 {
                        padding: 16px 0;
                        color: $primary;
                        position: relative;
                        font-weight: 900;
                        font-size: 18px;
                        line-height: 21px;

                        @include breakpoint-down(small) {
                            font-size: 16px;
                            line-height: 19px;
                        }

                        i {
                            margin-right: 10px;
                        }
                    }

                    .row {
                        margin: 0;
                        padding: 0;

                        &.toggles {
                            text-align: center;

                            .col-md-6 {
                                padding: 16px 0;
                                color: vsPrimaryOpacity(0.5);
                                position: relative;

                                @include breakpoint-down(small) {
                                    flex-basis: 50%;

                                    &:last-child {
                                        margin-top: 0;
                                    }
                                }

                                &:before {
                                    content: '';
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    background: transparent;
                                    left: 0;
                                }

                                &.active {
                                    border-bottom: 1px solid $primary;
                                    color: $primary;
                                }

                            }
                        }

                        .col {
                            &:first-child {
                                padding-left: 0;
                            }

                            &:last-child {
                                padding-right: 0;
                            }

                            &:not(.form-control) {

                                @include breakpoint-down(small) {
                                    padding: 0;
                                    flex-basis: 100%;
                                }
                            }
                        }

                        label {
                            display: block;
                        }

                        .visa {
                            padding-left: 0;

                            .checkmark {
                                left: unset;
                                right: 16px;
                            }
                        }
                    }

                    input[type="radio"],
                    input[type="checkbox"] {
                        opacity: 0;

                        &:checked+.checkmark {
                            background: $success;
                            border-color: $success;

                            &::after {
                                display: block;
                            }
                        }
                    }

                    input[type="radio"]+.checkmark {
                        border-radius: 50%;
                    }

                    .checkmark {
                        display: inline-block;
                        background: #FFFFFF;
                        border: 1px solid rgba(0, 0, 0, 0.35);
                        box-sizing: border-box;
                        border-radius: 8px;
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        left: 0;
                        top: -4px;

                        &:after {
                            display: none;
                            content: "\2713\0020";
                            position: absolute;
                            left: 8px;
                            top: 4px;
                            color: #fff;
                            font-size: 18px;
                            font-weight: 700;

                            @include breakpoint-down(small) {
                                font-size: 16px;
                                line-height: 19px;
                            }
                        }
                    }

                    label {
                        color: vsPrimaryOpacity(0.5);
                        font-size: 18px;
                        line-height: 21px;
                        position: relative;
                        padding-left: 42px;
                        cursor: pointer;

                        @include breakpoint-down(small) {
                            font-size: 14px;
                            line-height: 18px;
                        }
                    }

                    .ticket-number {
                        font-size: 18px;
                        line-height: 21px;
                        padding: 7px 16px;
                        border: 1px solid #E2E2E9;
                        box-sizing: border-box;
                        border-radius: 8px;

                        @include breakpoint-down(small) {
                            font-size: 14px;
                            line-height: 18px;
                            display: none;
                        }
                    }

                    .selected {

                        label {
                            color: $primary;
                        }

                        .ticket-number {
                            color: $primary;
                        }
                    }

                    .apply {
                        display: block;
                        width: 100%;
                        text-align: center;
                        padding: 15px 0;
                        color: vsPrimaryOpacity(0.5);
                        background: #E2E2E9;
                        box-sizing: border-box;
                        border-radius: 8px;

                        .active {
                            display: none;
                        }

                        &.active {
                            color: $white;
                            background: $success;

                            .non-active {
                                display: none;
                            }

                            .active {
                                display: inline-block;
                            }
                        }
                    }
                }

                .label {
                    margin-bottom: 20px;
                }

                h2,
                .accordion-button {
                    color: $primary;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;

                    @include breakpoint-down(small) {
                        font-size: 16px;
                        line-height: 19px;
                    }
                }

                .accordion {
                    .accordion-button {
                        padding-left: 0;
                        padding-right: 0;
                        padding-bottom: 0;
                        border: none;
                        outline: none;
                        box-shadow: none;
                        background: none;

                        @include breakpoint-up(medium) {

                            &:after {
                                background: none;
                                content: 'HIDE';
                                transform: unset;
                                margin-right: 20px;
                            }
                        }


                        &.collapsed {
                            &:after {
                                @include breakpoint-up(medium) {
                                    content: 'SHOW';
                                }
                            }
                        }
                    }

                    .accordion-body {
                        background: $white;

                        &.job-item {
                            background: $light-bg;
                            border: 1px solid #E2E2E9;
                            box-sizing: border-box;
                        }

                        .job-detail {
                            padding: 0;
                        }

                        // .acc {
                        //     img {
                        //         width: 80%;
                        //         height: auto;
                        //     }
                        // }

                        .col-md-3 {
                            margin: 0;
                            padding: 0;
                        }

                        .job-detail {
                            background: none;
                        }

                        .main-content {
                            .list-sec {
                                padding: 16px;
                                background: $light-bg;

                                &:not(:first-child) {
                                    margin-top: 14px;
                                }
                            }
                        }

                        .sidebar {
                            padding: 16px;
                            margin: 0;
                            background: $light-bg;

                            .button {
                                padding: 10px 0;
                                font-size: 12px;
                                line-height: 14px;

                                i {
                                    margin-right: 5px;
                                }
                            }

                            .share-text {
                                font-size: 10px;
                                line-height: 12px;

                                span {
                                    background: $light-bg;
                                }
                            }

                            .copy {
                                input {
                                    padding: 12px 40px 12px 12px;
                                    font-size: 10px;
                                    line-height: 12px;
                                }
                            }

                            .social {
                                .icon {
                                    padding: 6px 12px;

                                    i {
                                        font-size: 16px;
                                    }
                                }
                            }

                            .contact-info {
                                p {
                                    font-size: 10px;
                                    line-height: 12px;
                                }

                                a {
                                    font-size: 12px;
                                    line-height: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.edit-job-listing {
    &.jobs {
        .sidebar {
            .note-check {
                margin-bottom: 15px;

                .status {
                    display: inline-block;

                    span {
                        color: $yellow;

                        &.checking {
                            display: none;
                        }
                    }
                }

                &.checking {
                    .status {

                        span {
                            display: none;

                            &.checking {
                                display: inline-block;
                                color: $success;
                            }
                        }
                    }
                }

                .col {
                    padding: 0;
                }

                .greyed {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    color: $primary;
                    border-color: transparent;
                    width: 100%;

                    &:hover {
                        border-color: $primary;
                    }
                }

                .switch {
                    display: inline-block !important;

                    .slider {
                        &::before {
                            background-color: $yellow;
                        }
                    }
                }
            }

            .form {
                &.list-sec {
                    padding: 25px;
                }
            }

            .skip {
                margin-top: 15px;
            }
        }

        .main-content {
            @include breakpoint-down(medium) {
                margin-top: 15px;
            }

            .upload-wrap {
                border: 1px solid #E2E2E9;
                box-sizing: border-box;
                border-radius: 8px;
                background-color: $light-bg;

                @include breakpoint-down(medium) {
                    padding: 40px;
                }
            }

            .summary {
                padding-bottom: 25px;

                .list {
                    width: 100%;

                    .first {
                        float: left;
                        margin-right: 0.5em;

                        @include breakpoint-down(small) {
                            width: 68%;
                        }
                    }

                    .price {
                        float: right;
                        margin-left: 0.5em;
                        width: auto;
                        text-align: right;
                    }

                    &:after {
                        content: '';
                        border-bottom: dotted 2px vsPrimaryOpacity(0.75);
                        display: block;
                        overflow: hidden;
                        height: 18px;
                    }
                }

                .total {
                    text-align: right;
                    color: $primary;
                    font-weight: 500;
                }
            }
        }
    }
}

.add-remove {
    .note {
        font-size: 15px;
        line-height: 18px;
    }
}

.jobs {
    &.employer-profile {
        .emp-listing {

            .job-list {
                padding: 20px;
                background: $white;
                border: 1px solid #E2E2E9;
                box-sizing: border-box;
                box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
                border-radius: 8px;

                .job-item {
                    background: $light-bg;
                }
            }
            .list-title{
                margin-bottom: 0;
                .detail, .heading{
                    font-weight: 500;
                }
                .detail{
                    line-height: 20px;
                }
                .heading{
                    &:not(:last-child){
                        margin-bottom: 20px;
                    }
                }
            }
            .emp-profile{
                .list-sec{
                    box-shadow: none;
                }
            }
        }
    }
}